<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>kakao-login</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>kakaoaf1570d11aacfb30d95cc9f6b13d7965</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>naver-login</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>chamchamchamauth</string>
			</array>
		</dict>
	</array>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>kakaokompassauth</string>
		<string>naversearchthirdlogin</string>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>Pretendard-Medium.otf</string>
		<string>Pretendard-Bold.otf</string>
	</array>
</dict>
</plist>
